<!doctype HTML>

<html>
	<head>
		<title>Philips Personal Homepage</title>
		<style type="text/css">
			@import url(css/blog.css);
		</style>
	</head>

	<body onload="main();">
		<script>
			window.onload = function () {
				alert ('Hi!');
			}
		</script>

		<div class="bar">
			Philips Personal Homepage
		</div>

		<div class="page">
			{
			<div class="space"></div>
			<div class="post">
				<div class="content">
					<div class="title">{title}</div>
					<div class="date">{date}</div>

					{content}
				</div>
			</div>
			}
		</div>
	</body>
</html>
